$headerBackground: url(../img/header_background_v1.jpg) ;
$headerFont:Roboto,
Ubuntu,
Cantarell,
Helvetica,
sans-serif;
$headerColor:white;
$buttonColor:#01acac;
$backgroundColor:white;
$frameColor:#607d8b;
$contentColor:#010f16;
$articleColor:#efefef;
$articleTitle:#E90303;
$fontSmall:15px;
$fontBig:24px;
