$headerBackground: url(../img/header_background_v2.jpg);
$headerFont:"Palatino Linotype",
"Book Antiqua",
Palatino,
serif;
$headerColor:#ff5722;
$buttonColor:#0401ac;
$backgroundColor:#EFEFEF;
$frameColor:#757575;
$contentColor:#757575;
$articleColor:#ffffff;
$articleTitle:#c3c3d4;
$fontSmall:18px;
$fontBig:26px;